##---------------------------------------------------
# Jekyll .gitignore
##---------------------------------------------------

_site
.sass-cache
.jekyll-metadata


##---------------------------------------------------
# Linux .gitignore
##---------------------------------------------------

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
