---
layout: base
---

{% include nav.html %}

<div role="main" class="main-content-container">

  <div class="header-bg"
    style="
      background: #383739 url('/img/header-banner.jpg') no-repeat center/cover;
      color: #EAEAEA;
    ">

  <div class="container main-content main-content-top">
    {% if page.title %}
    <header class="header-page">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	      <div class="page-heading">
	        <h1>{{ page.title }}</h1>
	        {% if page.subtitle %}
	        <hr class="small">
	        <span class="page-subheading">{{ page.subtitle }}</span>
	        {% endif %}
	      </div>
        </div>
      </div>
    </header>
    {% endif %}
  </div>

  </div>

  <div role="main" class="container main-content main-content-bottom">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	      {% include disqus.html %}
        </div>
	    {% endif %}
      </div>
    </div>
  </div>
</div>
